/node_modules
/firebase/functions/node_modules
/cordova/www/bundle.js
/cordova/www/index.html
/cordova/node_modules
/.vscode/simulate/sim-host.json
/.vscode/simulate/sim-host.js
/.vscode/simulate/app-host.js
/.vscode/simulate/app-host.json
cordova/www/index.html
cordova/platforms/ios/www/index.html
cordova/platforms/ios/www/bundle.js
/cordova/platforms
/cordova/plugins
/src/utils/aws/config.ts
/src/utils/firebase/config.ts
/dist
/firebase
/src/utils/firebase
/yarn.lock
